*.cache
*.ncb
*.opensdf
*.sdf
*.suo
*.user
lib/*.a
lib64/*.a
bin/*
bin10/*
src/filters/transform/*/bin10/*
ipch/*
src/thirdparty/MediaInfo/MediaInfo/*
src/thirdparty/MediaInfo/ThirdParty/*
src/thirdparty/ZenLib/ZenLib/*
src/mpc-hc/res/mpc-hc.exe.manifest
include/Version_rev.h
update_version.bat
